<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {{>header}}
        <h1>About</h1>
        <p> Created by Diea Calin to learn Nodejs and Heroku development</p>
        <h2> Learn more about {{name}}</h2>
        {{>footer}}
    </body>
</html>